/* Reset */
body {
  margin: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

figure {
  margin: unset;
}

/* CSS Variables */
:root {
  --color-green: #8FBC8F;
  --color-red: #FF2E00;
  --color-white: #fff;
  --color-gray-50: #999;
  --color-gray-80: #222;
  --color-gray-90: rgb( var(--color-gray-90-rgb) / 1 ); 
  --color-gray-90-rgb: 17 17 17; /* #111 */
  --color-black: #000;
}

/* Component */
body {
  background-color: var(--color-gray-90);
  color: var(--color-green);
  text-align: center;
}

.l_wrapper {
  margin: 100px auto;
  max-width: 240px;
}

.casts {
  display: flex;
}

.casts-icon {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border: 4px solid #111;
  margin-right: -20px;
  position: relative;
}

.casts-icon img {
  border-radius: 50%;
}

.casts-icon figcaption {
  background-color: #ddd;
  color: black;
  font-size: 10px;
  padding: 0 6px;
  border-radius: 12px;

  position: absolute;
  /* left 좌표를 컨테이닝 블록 너비 기준으로 이동 */
  /* 하쥐만 해당 요소의 왼쪽 상단 꼭지점 기준이니 심히 불편 */
  left: 50%;
  top: 0;

  /* 무조건 한줄로 나오게 강제함 -> 툴팁은 그러하니까... */
  white-space: nowrap;

  /* 자기 자신의 너비의 절반을 translateX 이동 개념으로 취함 */
  transform: translateX(-50%) translateY(-100%);

  transition: all .4s;
  opacity: 0;

  /* 마우스의 액션을 완전히 무시! */
  pointer-events: none;
}

.casts-icon:hover {
  z-index: 10;
}

.casts-icon:hover figcaption {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.casts-icon figcaption::after {
  content: ' ';
  position: absolute;

  /* 좌우로 가용 공간을 최대치로 늘림 */
  left: 0;
  right: 0;

  /* 아랫쪽 기준으로 배치 */
  bottom: 0;

  /* 만들어진 툴팁 꼬랑지가 밑으로 표시될 수 있게끔 구현 */
  margin: 0 auto -8px;
  
  /* border로만 모양이 만들어지게 트릭을 씀 */
  width: 0;
  height: 0;

  /* 보더를 툴팁의 꼬랑지 컨셉으로 만듦 */
  border-width: 4px;
  border-color: #ddd transparent transparent transparent;
  border-style: solid;
}
