* {
    margin: 0;
}

article {
    background-color: white;
    width: 400px;
    padding: 20px 30px 50px 30px;
    margin: 40px auto;

    border-radius: 50px 0 50px 0;
}

h1 {
    text-align: center;
    margin: 10px;
}

img {
    width: 100%;
}