
body {
  background-color: #222;
}

.l_wrapper {
  max-width: 800px;
  margin: 100px auto;
  border: 8px solid dodgerblue;
}

.l_row {
  display: grid; 
  grid-template-columns: repeat( 12, minmax( 0, 1fr ) ); 
  gap: 10px;
}

.l_row_thin { gap: 4px; }
.l_row_wide { gap: 20px; }

.l_col_12_12 { grid-column: auto / span 12; }
.l_col_11_12 { grid-column: auto / span 11; }
.l_col_10_12 { grid-column: auto / span 10; }
.l_col_9_12  { grid-column: auto / span 9; }
.l_col_8_12  { grid-column: auto / span 8; }
.l_col_7_12  { grid-column: auto / span 7; }
.l_col_6_12  { grid-column: auto / span 6; }
.l_col_5_12  { grid-column: auto / span 5; }
.l_col_4_12  { grid-column: auto / span 4; }
.l_col_3_12  { grid-column: auto / span 3; }
.l_col_2_12  { grid-column: auto / span 2; }
.l_col_1_12  { grid-column: auto / span 1; }

.grid {
  text-align: center;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr ) );
  gap: 10px;
}

.item {
  line-height: 180px;
  height: 180px;
  background-color: #ddd;
  box-shadow: inset 0 0 20px red;
}

@media ( max-width: 800px ) {
  .l_col_m_12_12 { grid-column: auto / span 12; }
  .l_col_m_11_12 { grid-column: auto / span 11; }
  .l_col_m_10_12 { grid-column: auto / span 10; }
  .l_col_m_9_12  { grid-column: auto / span 9; }
  .l_col_m_8_12  { grid-column: auto / span 8; }
  .l_col_m_7_12  { grid-column: auto / span 7; }
  .l_col_m_6_12  { grid-column: auto / span 6; }
  .l_col_m_5_12  { grid-column: auto / span 5; }
  .l_col_m_4_12  { grid-column: auto / span 4; }
  .l_col_m_3_12  { grid-column: auto / span 3; }
  .l_col_m_2_12  { grid-column: auto / span 2; }
  .l_col_m_1_12  { grid-column: auto / span 1; }
}